{
    "presets": [
      [
        "@babel/preset-env",
        {
          // 防止babel将任何模块类型都转译成CommonJS类型，导致tree-shaking失效问题
          "modules": false
        }
      ],
      "@babel/preset-react",
      "@babel/preset-typescript"
    ],
    "plugins": [
      [
        "@babel/plugin-proposal-decorators",
        {
          "legacy": true
        }
      ],
      "transform-class-properties",//解决class中不能使用箭头函数的问题
      [
        "@babel/plugin-transform-runtime",
        {
          "corejs": {
            "version": 3,
            "proposals": true
          },
          "useESModules": true
        }
      ],
      "react-hot-loader/babel",
      [
        "import",
        {
          "libraryName": "antd",
          "style": "css"
        }
      ]
    ]
  }
  